{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% if about %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/about.css' %}">
<!--    <script src="{% static 'home/script.js' %}" defer></script> -->
    {% elif home %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    {% else %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    {% endif %}
	{% if title %}
		<title>Django Site - {{ title }}</title>
	{% else %}
		<title>Django Site</title>
	{% endif %}

</head>
<body class="back-color">
	<header class="site-header">
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href=" {% url 'front_page' %}">Home</a>
          <a href=" {% url 'about' %}">About</a>
          {% if user.is_authenticated %}
             <a class="nav-item nav-link" href="{% url 'classes'%}">Classes</a>
             <a class="nav-item nav-link" href="{% url 'survey'%}">Survey</a>
          {% endif %}
          {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
      </div>
      
      <h1>Mood and Grasp</h1>
</header>
{% if about %}
<div></div>
{% else %}
<main role="main" class="container">
  <div class="row">
{% endif %}
  
    <div class="col-md-8">
    	{% if messages %}
    		{% for message in messages %}
    			<div class="alert alert-{{message.tags}}"> 
    				{{ message }}
    			</div>
    		{% endfor %}
    	{% endif %}
    <div >
      {% block content %}{% endblock %}
     </div>
    </div>
    
</main>
	

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>