
{% extends "home/base.html" %}
{% block content %}
	{% for announcements in announcements %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ announcements.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ announcements.author }}</a>
      <small class="text-muted">{{ announcements.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'post_detail' announcements.id %}">{{ announcements.title }}</a></h2>
    <p class="article-content">{{ announcements.content }}</p>
  </div>
</article>
	{% endfor %}
{% endblock content %}