{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/css/dist/form.css">
  </head>
  
<div class="w-full max-w-2xl  pl-32 ps-32 base-content">
    <div class="hero-content flex-col lg:flex-row"> 
        <div class="flex flex-col w-full ">
            <h1 class="text-5xl font-bold">Login</h1>
            <div class="divider"></div> 
        </div>
      </div>
    <form method="post">
      {% csrf_token %}

      {{ form|crispy }}
        
      <button type="submit" class="btn btn-accent"  value="Submit">Submit</button>
      <small class="text-muted ml-2">
        {{ email_user }}
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </small>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted ">
            Don't have an account? <a class="ml-2 link" href="{% url 'user_registration' %}">Sign Up Now!</a> 
        </small>
    </div>
  </div>

{% endblock content %}