{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/css/dist/form.css">
  </head>

  <div class="w-full max-w-2xl  pl-32 ps-32 base-content">
    <div class="hero-content flex-col lg:flex-row"> 
        <div class="flex flex-col w-full ">
            <h1 class="text-5xl font-bold">Reset Password</h1>
            <div class="divider"></div> 
        </div>
      </div>
    <form method="post">
      {% csrf_token %}

      {{ form|crispy }}
        
      <button type="submit" class="btn btn-accent"  value="Submit">Request Password Reset</button>
    </form>
  </div>


{% endblock content %}
